.containeractivclient {
    display: flex;
    flex-direction: column;
    
}

.hautdepage {
    display:flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    margin: 2em;
   
}


.presentationactivite {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin:2em;
}

.basdepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
}

.contact {
    border-color: solid black;
    border-style: double;
    border-width: 5px;
}

.resumficheactivite {
    border-color: solid black;
    border-style: double;
    border-width: 5px;

}


#carouselExample {
    align-self: center;
    width: 40em;
   
}